body{
    background-image: url("./images/bg_image.jpeg");
    background-repeat: no-repeat;
    background-attachment: cover;


} 


/* Container Styling */
header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.col-auto{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;  
    background-color:rgb(213, 212, 210);
    align-items: center;
   
}
/* Logo styling */

.header-logo{
    flex:0 0 auto;
    margin:0 auto;
}

/* Navigation Menu Styling */
.mainmenu ul{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    list-style: none;

}

.mainmenu ul li{
    margin:0px 10px;
    padding: 5px;
    
} 

.mainmenu ul li a{
    text-decoration: none;
    font-size: large;
    
}

.mainmenu ul li a:hover{
    color:rgb(138, 153, 23);
}

/* Button styling */

.header-button{
    margin: 0 auto;
}
.header-button button{
    background-color: rgb(124, 49, 194);
    color: White;
    padding: 10px 20px;
    border-radius: 5pc;
    transition: background-color 0.4s ease;
    cursor:pointer;
    flex:0 0 auto;

}


.header-button button:hover{
    background-color: rgb(216, 222, 220);
    color: black;
}


/* Styling for the section */

.con-align{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.sec-container{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.sec{
    flex-basis: 500px;
    margin-top: 20px;
    background-color: bisque;
}

.inline-sec2{


}

